.content{
    margin-top: 128px;
    margin-bottom: 106px;
    &-section{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90px;
        &__left{
            h1{
                font-family: Poppins;
                    font-weight: 600;
                    font-size: 38px;
                    line-height: 56px;
                    letter-spacing: 0%;
                    max-width: 327px;
                    color: #282938;
                    margin-bottom: 16px;
            }
            p{
                font-family: Poppins;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 28px;
                    letter-spacing: 0%;
                    color: #BBBBCB;
            }
        }
        &__right{
            h2{
                font-family: Poppins;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 48px;
                    letter-spacing: 0%;
                    color: #282938;
                    max-width: 843px;
                    margin-bottom: 48px;
            }
            &__costemurs{
                display: flex;
                align-items: center;
                gap: 20px;
                img{
                    border-radius: 32px;
                }
                h3{
                    font-family: Poppins;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 32px;
                        letter-spacing: 0%;
                        color: #282938;
                }
                p{
                    font-family: Poppins;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 32px;
                        letter-spacing: 0%;
                        color: #BBBBCB;
                }
            }
        }
    }
}