.footer{
    background: #1C1E53;
    padding-top: 96px;
    padding-bottom: 92px;
 &-section{
    display: flex;
    align-items: center;
    gap: 141px;
    &__left{
       p{
        font-family: Poppins;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0%;
            color: #FFFFFF;
            max-width: 399px;
            margin-top: 27px;
       }
    }
    &__right{
        h1{
            font-family: Poppins;
                font-weight: 600;
                font-size: 48px;
                line-height: 64px;
                letter-spacing: 0%;
                color: #FFFFFF;
        }
        p{
        font-family: Poppins;
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0%;
            color: #FFFFFF;
            max-width: 399px;
            margin-top: 17px;
            margin-bottom: 28px;
       }
       a{
        text-decoration: none;
       }
    }
   }
 &-contact{
     display: flex;
     align-items: center;
     margin-top: 56px;
     &__content{
         background: #FCD980;
         padding: 17px 70px 16px 37px;
        h2{
            font-family: Poppins;
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: 0%;
                color: #282938;
        }
        p{
            font-family: Poppins;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0%;
                color: #282938;
        }
    }
 }
}