.home{
    background: #1C1E53;
    padding-top: 149px;
    &-section{
        display: flex;
        align-items: center;
        gap: 60px;
        h1{
            font-family: Poppins;
                font-weight: 600;
                font-size: 54px;
                line-height: 74px;
                letter-spacing: 0%;
                color: White;
                max-width: 582px;
                margin-bottom: 24px;
        }
        p{
            font-family: Poppins;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0%;
                color: #BBBBCB;
                margin-bottom: 48px;
        }
    }
}