*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    // max-width: 1600px-320px=1280px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}