.home {
  background: #1C1E53;
  padding-top: 149px;
  padding-bottom: 128px;
}
.home-section {
  display: flex;
  align-items: center;
  gap: 60px;
}
.home-section__left h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 54px;
  line-height: 74px;
  letter-spacing: 0%;
  color: White;
  max-width: 582px;
  margin-bottom: 24px;
  text-align: left;
}
.home-section__left p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #BBBBCB;
  margin-bottom: 48px;
  text-align: left;
}
.home-section__left .btn {
  display: flex;
  align-items: center;
  gap: 40px;
}
.home-section__left .btn-left {
  border: 1px solid #FCD980;
  padding: 16px 56px;
  background: #FCD980;
  font-family: Manrope;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #1B1C2B;
  border-radius: 41px;
  cursor: pointer;
}
.home-section__left .btn-left:hover {
  background: #1C1E53;
  color: white;
  border: 2px solid yellowgreen;
  transition: all 0.8s;
}
.home-section__left .btn-right {
  border: none;
  background: transparent;
  color: white;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #FFFFFF;
}

.img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

#navbar-open {
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
#navbar-open:hover {
  transform: rotate(30deg);
  transition: all 0.8s;
}

#navbar-responsive {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  align-items: center;
  width: 100%;
  transition: 0.5s;
  list-style-type: none;
}
#navbar-responsive .navbar-item {
  margin-bottom: 20px;
}
#navbar-responsive a {
  color: black;
  text-decoration: none;
}
#navbar-responsive a:hover {
  color: blue;
}

#navbar-close {
  position: absolute;
  top: 25px;
  right: 25px;
  background: transparent;
  cursor: pointer;
  border: none;
}
#navbar-close:hover {
  transform: rotate(360deg);
  transition: all 1s;
}

.footer {
  background: #1C1E53;
  padding-top: 96px;
  padding-bottom: 92px;
}
.footer-section {
  display: flex;
  gap: 141px;
}
.footer-section__left p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #FFFFFF;
  max-width: 399px;
  margin-top: 27px;
  text-align: left;
}
.footer-section__right h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  color: #FFFFFF;
  text-align: left;
}
.footer-section__right p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #FFFFFF;
  max-width: 399px;
  margin-top: 17px;
  margin-bottom: 28px;
  text-align: left;
}
.footer-section__right a {
  text-decoration: none;
}
.footer-contact {
  display: flex;
  align-items: center;
  margin-top: 56px;
}
.footer-contact__content {
  background: #FCD980;
  padding: 17px 70px 16px 37px;
}
.footer-contact__content h2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #282938;
  text-align: left;
}
.footer-contact__content p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #282938;
  text-align: left;
}

.header {
  background: #1C1E53;
  padding-top: 32px;
  padding-bottom: 30px;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-section__right ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}
.header-section__right ul a {
  text-decoration: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #BBBBCB;
}
.header-section__right ul a:hover {
  color: #FFFFFF;
  transition: all 1s;
}
.header-section .btn-page {
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  padding: 16px 48px;
  background: transparent;
}
.header-section .btn-page a {
  text-decoration: none;
  color: #FFFFFF;
}
.header-section .btn-page:hover {
  transform: scale(1.1);
}

@media (max-width: 750px) {
  .header-section__right ul {
    display: none;
  }
  .btn-page {
    display: none;
  }
  #navbar-open {
    display: block;
  }
  .projects-content {
    flex-wrap: wrap;
  }
  .footer-section {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footer-contact {
    flex-wrap: wrap;
  }
}
@media (max-width: 980px) {
  .home-section {
    flex-wrap: wrap;
  }
  .btn {
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects-section {
    flex-wrap: wrap;
  }
  .img-right {
    margin-top: 50px;
  }
  .features-section {
    grid-template-columns: repeat(1, 1fr) !important;
    text-align: center;
  }
}
@media (max-width: 470px) {
  .projects-section__left {
    margin-bottom: 100px;
  }
  .content-section {
    flex-wrap: wrap;
    text-align: center;
  }
}
.projects {
  margin-top: 87px;
  margin-bottom: 156px;
}
.projects-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.projects-content h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  color: #282938;
  margin-bottom: 64px;
}
.projects-content .btn-contact {
  border: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  cursor: pointer;
  background: transparent;
  margin-bottom: 64px;
}
.projects-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.projects-section__left {
  position: relative;
}
.projects-section__left img {
  width: 100%;
}
.projects-section__left__content {
  background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  position: absolute;
  width: 100%;
  bottom: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.projects-section__left__content h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  color: White;
  max-width: 312px;
  margin-bottom: 16px;
}
.projects-section__left__content p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #BBBBCB;
  max-width: 293px;
  margin-bottom: 40px;
}
.projects-section__left__content .btn-contact {
  border: none;
  color: yellow;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  cursor: pointer;
  background: transparent;
}
.projects-section__right {
  position: relative;
}
.projects-section__right img {
  width: 100%;
  margin-bottom: 10px;
}
.projects-section__right__content {
  position: absolute;
  top: 0px;
  background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  width: 100%;
}
.projects-section__right__content h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  color: White;
  max-width: 312px;
  margin-top: 200px;
  margin-bottom: 16px;
}
.projects-section__right__content .btn-contact {
  border: none;
  color: yellow;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  cursor: pointer;
  background: transparent;
  margin-bottom: 10px;
}
.projects-section .img-right {
  width: 100%;
}

.features-paragraph {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: Dark blue;
  margin-bottom: 12px;
}
.features h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  color: Dark blue;
  margin-bottom: 47px;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
}
.features-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.features-section__items {
  border: 1px solid wheat;
  padding: 47px 31px 48px 48px;
}
.features-section__items p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #BBBBCB;
  max-width: 324px;
}
.features-section__items h2 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #282938;
  margin-bottom: 12px;
  margin-top: 15px;
}

.content {
  margin-top: 128px;
  margin-bottom: 106px;
}
.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.content-section__left h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  letter-spacing: 0%;
  max-width: 327px;
  color: #282938;
  margin-bottom: 16px;
  text-align: left;
}
.content-section__left p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #BBBBCB;
  text-align: left;
}
.content-section__right h2 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0%;
  color: #282938;
  max-width: 843px;
  margin-bottom: 48px;
  text-align: left;
}
.content-section__right__costemurs {
  display: flex;
  align-items: center;
  gap: 20px;
}
.content-section__right__costemurs img {
  border-radius: 32px;
}
.content-section__right__costemurs h3 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #282938;
  text-align: left;
}
.content-section__right__costemurs p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #BBBBCB;
  text-align: left;
}

.workk {
  background: #F4F6FC;
}

.our-work {
  align-items: center;
  text-align: center;
  padding: 96px;
  padding-top: 96px;
}
.our-work p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.our-work h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 4px;
}
.our-work .Pp {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 24px;
  color: #282938;
}
.our-work .iconss {
  margin-left: 27px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.tabs a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.tabs a.active {
  color: blue;
}

.temple {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .temple {
    grid-template-columns: repeat(1, 1fr);
    /* Planshet va kichikroq ekranlar uchun */
  }
}
@media (max-width: 768px) {
  .temple {
    grid-template-columns: repeat(1, 1fr);
    /* Mobil qurilmalar uchun bitta ustun */
  }
}
.temple-cont1 {
  width: 100%;
  max-width: 623px;
  margin: auto;
}
.temple-cont1 img {
  border: 35px solid #dcdcdc;
  border-radius: 0.1%;
  width: 100%;
}
.temple-cont1 h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 12px;
}
.temple-cont1 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 24px;
}
.temple-cont1 a {
  text-decoration: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.temple-cont2 {
  width: 100%;
  max-width: 623px;
  margin: auto;
}
.temple-cont2 img {
  border: 35px solid #4F56FF;
  border-radius: 0.1%;
  width: 100%;
}
.temple-cont2 h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 12px;
}
.temple-cont2 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 24px;
}
.temple-cont2 a {
  text-decoration: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.temple-cont3 {
  width: 100%;
  max-width: 623px;
  margin: auto;
}
.temple-cont3 img {
  border: 35px solid #EEBCA7;
  border-radius: 0.1%;
  width: 100%;
}
.temple-cont3 h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 12px;
}
.temple-cont3 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 24px;
}
.temple-cont3 a {
  text-decoration: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.temple-cont4 {
  width: 100%;
  max-width: 623px;
  margin: auto;
}
.temple-cont4 img {
  border: 35px solid #98A4FF;
  border-radius: 0.1%;
  width: 100%;
}
.temple-cont4 h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 12px;
}
.temple-cont4 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 24px;
}
.temple-cont4 a {
  text-decoration: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.temple-cont5 {
  width: 100%;
  max-width: 623px;
  margin: auto;
}
.temple-cont5 img {
  border: 35px solid #9BF6D5;
  border-radius: 0.1%;
  width: 100%;
}
.temple-cont5 h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 12px;
}
.temple-cont5 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 24px;
}
.temple-cont5 a {
  text-decoration: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.temple-cont6 {
  width: 100%;
  max-width: 623px;
  margin: auto;
}
.temple-cont6 img {
  border: 35px solid #D2D6FD;
  border-radius: 0.1%;
  width: 100%;
}
.temple-cont6 h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 12px;
}
.temple-cont6 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 24px;
}
.temple-cont6 a {
  text-decoration: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
@media (max-width: 400px) {
  .temple {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .temple-cont h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .temple-cont p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 320px) {
  .temple {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 15px;
  }
  .temple-cont h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .temple-cont p {
    font-size: 12px;
    line-height: 20px;
  }
}

.cta {
  text-align: center;
  padding-top: 128px;
  padding-bottom: 128px;
}
.cta h2 {
  color: #282938;
  margin-bottom: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}
.cta p {
  width: 562;
  height: 56;
  top: 2822px;
  left: 519px;
  opacity: 0.7;
  margin-bottom: 40px;
}
.cta .cta-btn {
  background-color: #FFD66C;
  color: #282938;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.cta .cta-btn:hover {
  background-color: #FFC83D;
}

.students {
  margin-top: 128px;
  margin-bottom: 32px;
}
.students h2 {
  display: flex;
  justify-content: center;
  width: 949;
  height: 128;
  top: 220px;
  left: 326px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  color: #282938;
}
.students p {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  width: 228;
  height: 28;
  top: 364px;
  left: 697px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.blog_imgs {
  margin-bottom: 48px;
}

.had {
  margin-bottom: 172px;
}
.had p {
  width: 831;
  height: 84;
  top: 949px;
  left: 385px;
  opacity: 0.7;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  color: #282938;
}

.blog {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.blog h2 {
  width: 208;
  height: 64;
  top: 1205px;
  left: 696px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  color: #282938;
}

.blogs {
  width: 405px;
  height: 593px;
  top: 1317px;
  left: 161px;
  margin-bottom: 64px;
}
.blogs .top {
  margin-bottom: 50px;
}
.blogs .top img {
  width: 405px;
  height: 285px;
  top: 1317px;
  left: 161px;
}
.blogs .bottom p {
  margin-bottom: 17px;
  width: 404;
  height: 56;
  top: 1802px;
  left: 162px;
  opacity: 0.7;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #282938;
}
.blogs .bottom h3 {
  margin-bottom: 16px;
  width: 404;
  height: 108;
  top: 1678px;
  left: 162px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  color: #282938;
}

.blok {
  display: flex;
  align-items: center;
  gap: 32px;
}

@media (max-width: 1300px) {
  .blog_imgs img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1300px) {
  .blok {
    display: block;
  }
}
.workk {
  background: #F4F6FC;
}

.our-work {
  align-items: center;
  text-align: center;
  padding: 96px;
  padding-top: 96px;
}
.our-work p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.our-work h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 4px;
}
.our-work .Pp {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 24px;
  color: #282938;
}
.our-work .iconss {
  margin-left: 27px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.tabs a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.tabs a.active {
  color: blue;
}

.temple {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 34px;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .temple {
    grid-template-columns: repeat(1, 1fr);
    /* Planshet va kichikroq ekranlar uchun */
  }
}
@media (max-width: 768px) {
  .temple {
    grid-template-columns: repeat(1, 1fr);
    /* Mobil qurilmalar uchun bitta ustun */
  }
}
.temple-cont1 {
  width: 100%;
  max-width: 623px;
  margin: auto;
}
.temple-cont1 img {
  border: 35px solid #dcdcdc;
  border-radius: 0.1%;
  width: 100%;
}
.temple-cont1 h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 12px;
}
.temple-cont1 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 24px;
}
.temple-cont1 a {
  text-decoration: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.temple-cont2 {
  width: 100%;
  max-width: 623px;
  margin: auto;
}
.temple-cont2 img {
  border: 35px solid #4F56FF;
  border-radius: 0.1%;
  width: 100%;
}
.temple-cont2 h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 12px;
}
.temple-cont2 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 24px;
}
.temple-cont2 a {
  text-decoration: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.temple-cont3 {
  width: 100%;
  max-width: 623px;
  margin: auto;
}
.temple-cont3 img {
  border: 35px solid #EEBCA7;
  border-radius: 0.1%;
  width: 100%;
}
.temple-cont3 h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 12px;
}
.temple-cont3 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 24px;
}
.temple-cont3 a {
  text-decoration: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.temple-cont4 {
  width: 100%;
  max-width: 623px;
  margin: auto;
}
.temple-cont4 img {
  border: 35px solid #98A4FF;
  border-radius: 0.1%;
  width: 100%;
}
.temple-cont4 h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 12px;
}
.temple-cont4 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 24px;
}
.temple-cont4 a {
  text-decoration: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.temple-cont5 {
  width: 100%;
  max-width: 623px;
  margin: auto;
}
.temple-cont5 img {
  border: 35px solid #9BF6D5;
  border-radius: 0.1%;
  width: 100%;
}
.temple-cont5 h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 12px;
}
.temple-cont5 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 24px;
}
.temple-cont5 a {
  text-decoration: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.temple-cont6 {
  width: 100%;
  max-width: 623px;
  margin: auto;
}
.temple-cont6 img {
  border: 35px solid #D2D6FD;
  border-radius: 0.1%;
  width: 100%;
}
.temple-cont6 h3 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 38px;
  line-height: 56px;
  text-align: left;
  margin-bottom: 12px;
}
.temple-cont6 p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 24px;
}
.temple-cont6 a {
  text-decoration: none;
  color: #282938;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
@media (max-width: 400px) {
  .temple {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .temple-cont h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .temple-cont p {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (max-width: 320px) {
  .temple {
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 15px;
  }
  .temple-cont h3 {
    font-size: 20px;
    line-height: 30px;
  }
  .temple-cont p {
    font-size: 12px;
    line-height: 20px;
  }
}

.cta {
  text-align: center;
  padding-top: 128px;
  padding-bottom: 128px;
}
.cta h2 {
  color: #282938;
  margin-bottom: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}
.cta p {
  width: 562;
  height: 56;
  top: 2822px;
  left: 519px;
  opacity: 0.7;
  margin-bottom: 40px;
}
.cta .cta-btn {
  background-color: #FFD66C;
  color: #282938;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.cta .cta-btn:hover {
  background-color: #FFC83D;
}/*# sourceMappingURL=style.css.map */